/* Enter your custom styles here */

.container {
  align-content: flex-end;
}

.sapFDynamicPageTitle {
  display: none;
}

.sapFDynamicPageTitleExpanded {
  text-align: initial;
}

.sapMPageHeader {
  display: none !important;
}

.sapMPIBar::before {
  visibility: hidden;
}

.border {
  border-width: 0;
  padding-left: 10px;
}

.sapMTitle{
  padding: 15px;
}

.sapMLabel {
  padding-left: 40px;
}
.sapMPI {
  padding-left: 40px;
}

.sapMObjectAttributeDiv .sapMText {
  padding-left: 40px;
}

.buttonCSS {
  border-bottom: 0px;
  padding-left: 200px;
}

.sapMTB.sapMTBStandard {
  border-bottom: none;
}
.gridList3-header .sapMListHdrText  {
  height: 0px;
  visibility: hidden;
}

.gridList4-header .sapMListHdrText  {
  height: 0px;
  visibility: hidden;
}